:root {
	--background-color: #ffffff;
	--title-color: #9042d4;
	--border-color: #7956ed;
	--button-bg-color: #9042d4;
	--button-font-color: #ffffff;
	--shadow-color: #6e7079;
	--profile-bg-color: #eeefff;
	--selected: #9042d4;
}

.background-color {
	background-color: var(--background-color);
}

.title-color {
	color: var(--title-color);
}

.profile-bg-color {
	background-color: var(--profile-bg-color);
}

.is_selected {
	color: var(--selected);
}
