.createProfileForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin-left: 15%;

}

.createProfileForm input,
.createProfileForm label {
    margin: 2%;
}
