.header {
    position: fixed;
    font-size: 200%;
    top: 0;
    box-shadow: var(--shadow-color) 1px 1px 10px;
    width: 100%;
    background-color: var(--background-color);
    border-bottom: solid 1px var(--bord-color);
    z-index: 1;
}
