.profilePage {
  font-family: Arial, sans-serif;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: solid var(--bord-color) 1px;
  border-radius: 5%;
  margin: 11vh 10vw 1vh 10vw;
  background: var(--other-background);
}

.profilePic {
  border-radius: 50%;
  height: 30vw;
  width: 30vw;
  padding: 3%;
  margin-top: -20%;
}

.profile p,
h2,
h3 {
  margin: 5px;
}

.profilePost {
  display: flex;
  align-items: center;
  height: 10vh;
}

.profilePost hr {
  transform: rotate(90deg);
  height: 10vh;
  border: solid 3px var(--title-color);
}
