.search_sidebar {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0, 0.9);
  z-index: 1;
  overflow-x: hidden;
  left: 0;
  top: 0;
  color: white;
  font-size: 2em;

}
.search_sidebar ul{
  padding: 0;
  list-style: none;
}

.search_sidebar li{
  color: pink;
  padding: 1vh;
}