.App {
    text-align: center;
<<<<<<< HEAD
}
.rendering {
    display: flex;
    align-items: center;
    margin-left: 50em;
=======
    background: #ffedfd;
    width: 100vw;
}
.App .menu_icon {
    top: 0;
    left: 0;
    position: fixed;
    transform: scaleX(-1);
    text-align: left;
}

.title {
    margin-top: 0;
}

h1,
h2,
h3,
hr {
    color: #7f0777;
}

.App .menu_return_icon {
    top: 0;
    left: 0;
    position: fixed;
    text-align: left;
}

CreateProfile {
    height: 100vh;
}
Profile {
    height: 100vh;
>>>>>>> 4850b2474a1b74182425f4609517b8eb9f8806cf
}
